@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    text-align: center;
    background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
    font-family: 'Roboto', sans-serif;
    background: #455A64;
    height: 100 !important;
    background-color: #262626;
}

.container-fluid {
    color: #627482 !important;
}
small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.endereco-link{
    padding-top: 15px;
}

.nome{
    margin-top: 30px;
    margin-bottom: 30px;
}
.coluna{
    display: inline-flex;
}

.perfilPic{
    max-width: 30%;
    min-width: 200px;
    margin-bottom: 20px;
}

.row-home{
    align-items: center;
}

.footer-row{
    align-items: center;
}

.texto{
    color: #c5c5c5;
}

.centralizar{
    text-align: center;
}

.blocos{
    background-color: #161616cc;
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-block{
    background-color: #161616cc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.coluna-sobre{
    min-width: 300px;
}

.coluna-home{
    min-width: 300px;
}

.rec-imgs{
    max-width: 70px;
    min-width: 50px;
}

.coluna-rec{
    min-width: 300px;
}

.tabela-tx{
    vertical-align: middle;
}

.cert-imgs{
    max-width: 100%;
    max-block-size: 200px;
}

.parallax {
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-home {
    /* The image used */
    background-image: url("https://i.imgur.com/i8jdWIw.png");
  }

  .parallax-cert {
    /* The image used */
    background-image: url("https://i.imgur.com/XlDPGPJ.png");
  }

  .parallax-sobre {
    /* The image used */
    background-image: url("https://i.imgur.com/pzKawbZ.png");
  }

  .parallax-port {
    /* The image used */
    background-image: url("https://i.imgur.com/zLFz8sG.png");
  }

  .parallax-livros{
    /* The image used */
      background-image: url("https://i.imgur.com/oZDs5uE.png");
  }

  .tabela{
      padding-bottom: 10px;
  }

